<!DOCTYPE html>
<html>
  <head>
    <title>Clone {{ item }} | Jedi Academy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Exo:400,600" rel="stylesheet" />
    <link href="http://www.iconarchive.com/download/i10565/everaldo/starwars/clone-{{ item }}.ico" rel="shortcut icon" />
    <style type="text/css"><!--
      body, h1, h2, h3, h4, text {
        font-family: 'Exo', sans-serif;
        font-weight: 400;
      }
      .bold { font-weight: 600; }
      .main {
        text-align: center;
        margin: 50px 0;
      }
      .btn { text-transform: none; }
      a.black { color: #333333; }
      a.black:hover {
        color: #999999;
        text-decoration: none;
      }
      @media screen and (max-width: 970px) {
        .main { margin: 15px 0; }
      }
    --></style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 main">
          <div class="well">
            <img src="http://icons.iconarchive.com/icons/everaldo/starwars/128/clone-{{ item }}-icon.png" />
            <h1 class="bold">Clone Server {{ item }}</h1>
            <p>There's been a rebellion, sir. Don't worry. The situation is under control. I'm sorry, sir. It's time for you to leave.</p>
            <p>&copy; <a class="black" href="http://hico-horiuchi.github.io/" target="_blank">Akihiko Horiuchi</a></p>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </body>
</html>
